<nb-card>
    <nb-card-header>Shopping Cart</nb-card-header>
    <nb-card-body>
            <nb-list *ngIf="listItems && listItems.length > 0">
                <nb-list-item *ngFor="let item of listItems">
                    <div [ngClass]="'item'">
                        <h4>{{ item.title }}</h4>
                        <span>{{ item.price | euro }}</span>
                        <button nbButton ghost status="primary" (click)="removeFromShopCart(item)"><nb-icon icon="close"></nb-icon></button>
                    </div>
                </nb-list-item>
                <nb-list-item>
                    <div [ngClass]="'total'">
                        <h5>Total TTC</h5>
                        <span>{{ total | euro }}</span>
                    </div>
                </nb-list-item>
            </nb-list>
            <div class="btn-action">
                <button nbButton status="success" (click)="gotoCommandPage()">Shop Cart</button>
                <button nbButton status="danger" (click)="close()">Close</button>
            </div>
    </nb-card-body>
</nb-card>