.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    &>h4 {
        margin: 0;
        padding: 0;
        margin-top: 0.2rem;

        font-size: 0.8rem;
        flex: 4;
    }

    &>span {
        margin-left: 1rem;
        margin-top: 0.5rem;
        flex: 1;
        padding: 0 3rem 0 0;
        box-sizing: border-box;
    }

    &>button {
        flex: 0;

        margin-left: 1rem;
        padding: 0 !important
    }

    
}

.total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    &>h5 {
        margin: 0;
        padding: 0;
        margin-top: 0.2rem;
    
        font-size: 1.2rem;
    }

    &>span {
        margin-left: 1rem;
        margin-top: 0.5rem;
        font-weight: bold;
    }

    
}


nb-card {
    height:30rem !important;
    padding: 2rem;
}

.btn-action {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
