<nb-card [accent]="error.user ? 'danger' : (success.user ? 'success' : 'info') ">
    <nb-card-header>Edit User</nb-card-header>
    <nb-card-body>
        <nb-alert *ngIf="IsAuthProfile()" status="info">You will be disconnected if you change one of these properties (password, group) in your profile</nb-alert>
        <nb-alert *ngIf="error.user" status="danger">Error. An error occured!</nb-alert>
        <nb-alert *ngIf="success.user" status="success">Success. User has been edited!</nb-alert>
        <form [formGroup]="forms.user" (ngSubmit)="send()">
            <div [ngClass]="{'input-field': true}">
                <p class="error" *ngIf="isInvalid('firstName', 'user')">{{displayErrorMessage('firstName', 'user')}}</p>
                <input [status]="isInvalid('firstName', 'user') ? 'danger' : 'basic'" type="text" nbInput formControlName="firstName" placeholder="firstname"><span class="required">*</span>
            </div>
            <div [ngClass]="{'input-field': true}">
                <p class="error" *ngIf="isInvalid('lastName', 'user')">{{displayErrorMessage('lastName', 'user')}}</p>
                <input [status]="isInvalid('lastName', 'user') ? 'danger' : 'basic'" type="text" nbInput formControlName="lastName" placeholder="lastname"><span class="required">*</span>
            </div>
            <div [ngClass]="{'input-field': true}">
                <p class="error" *ngIf="isInvalid('email', 'user')">{{displayErrorMessage('email', 'user')}}</p>
                <input [status]="isInvalid('email', 'user') ? 'danger' : 'basic'" type="email" nbInput formControlName="email" placeholder="email"><span class="required">*</span>
            </div>
            <div [ngClass]="{'input-field': true}">
                <p class="error" *ngIf="isInvalid('password', 'user')">{{displayErrorMessage('password', 'user')}}</p>
                <input [status]="isInvalid('password', 'user') ? 'danger' : 'basic'" type="password" nbInput formControlName="password" placeholder="password">
            </div>
            <div [ngClass]="{'input-field': true}">
                <p class="error" *ngIf="isInvalid('confirmPassword', 'user')">{{displayErrorMessage('confirmPassword', 'user')}}</p>
                <input [status]="isInvalid('confirmPassword', 'user') ? 'danger' : 'basic'" type="password" nbInput formControlName="confirmPassword" placeholder="confirm password">
            </div>
            <nb-card formGroupName="address">
                <nb-card-header>Address</nb-card-header>
                <nb-card-body>
                    <div [ngClass]="{'input-field': true}">
                        <p class="error" *ngIf="isInvalid('street', forms.user.controls.address)">{{displayErrorMessage('street', forms.user.controls.address)}}</p>
                        <input [status]="isInvalid('street', forms.user.controls.address) ? 'danger' : 'basic'" type="text" nbInput formControlName="street" placeholder="street"><span class="required">*</span>
                    </div>
                    <div [ngClass]="{'input-field': true}">
                        <p class="error" *ngIf="isInvalid('city', forms.user.controls.address)">{{displayErrorMessage('city', forms.user.controls.address)}}</p>
                        <input [status]="isInvalid('city', forms.user.controls.address) ? 'danger' : 'basic'" type="text" nbInput formControlName="city" placeholder="city"><span class="required">*</span>
                    </div>
                    <div [ngClass]="{'input-field': true}">
                        <p class="error" *ngIf="isInvalid('postCode', forms.user.controls.address)">{{displayErrorMessage('postCode', forms.user.controls.address)}}</p>
                        <input [status]="isInvalid('postCode', forms.user.controls.address) ? 'danger' : 'basic'" type="text" nbInput formControlName="postCode" placeholder="postCode"><span class="required">*</span>
                    </div>
                    <div [ngClass]="{'input-field': true}">
                        <p class="error" *ngIf="isInvalid('country', forms.user.controls.address)">{{displayErrorMessage('country', forms.user.controls.address)}}</p>
                        <input [status]="isInvalid('country', forms.user.controls.address) ? 'danger' : 'basic'" type="text" nbInput formControlName="country" placeholder="country"><span class="required">*</span>
                    </div>
                </nb-card-body>
            </nb-card>
            <div [ngClass]="{'input-field': true}">
                <p class="error" *ngIf="isInvalid('groupId', 'user')">{{displayErrorMessage('groupId', 'user')}}</p>
                <nb-select [status]="isInvalid('groupId', 'user') ? 'danger' : 'basic'" placeholder="group" formControlName="groupId">
                    <nb-option value="">---</nb-option>
                    <nb-option *ngFor="let group of groups" value="{{group.id}}">{{group.label}}</nb-option>
                </nb-select><span class="required">*</span>
            </div>
            <input type="submit" nbButton>
        </form>
    </nb-card-body>
</nb-card>