a {text-decoration: none;}

::ng-deep {
    
    nav {
        justify-content: space-between !important;

        a:hover {
           color: rgba(70, 50, 150, 0.5);
        }
    }

    h1 { padding-left: 1rem }

    .search {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        & > div:first-of-type {
            margin-right: 1rem;
        }
    }
}
