<nb-layout>
  <nb-layout-header fixed> 
    <h1><a routerLink="/">BookTik</a></h1>
    <ng-container *ngIf="isInDashboard()">
      <div *ngIf="isLogged()">
        <p>Welcome {{getAuthUsername()}}!</p>
      </div>
      <nb-actions *ngIf="isLogged()">
        <nb-action icon="power" (click)="logout()"></nb-action>
      </nb-actions>
    </ng-container>
    <ng-container *ngIf="!isInDashboard()">
      <div>
        <nb-search type="rotate-layout"></nb-search>
      </div>
      <div *ngIf="!isLogged()">
        <nav>
          <ul>
            <li><a [routerLink]="['/', 'register']">Register</a></li>
          </ul>
        </nav>
      </div>
      <div *ngIf="isLogged()">
        <p>Welcome {{getAuthUsername()}}!</p>
      </div>
      <nb-actions *ngIf="isLogged()">
        <nb-action *ngIf="nItems < 1" icon="shopping-cart-outline"></nb-action>
        <nb-action *ngIf="nItems > 0" [badgeText]="nItems" badgeStatus="info" icon="shopping-cart-outline" (click)="showShoppingCart()"></nb-action>
        <nb-action *ngIf="isAdmin()" icon="cube-outline" (click)="goToDashboard()"></nb-action>
        <nb-action icon="power" (click)="logout()"></nb-action>
      </nb-actions>
      <nb-actions *ngIf="!isLogged()">
        <nb-action *ngIf="nItems < 1" icon="shopping-cart-outline"></nb-action>
        <nb-action *ngIf="nItems > 0" [badgeText]="nItems" badgeStatus="info" icon="shopping-cart-outline" (click)="showShoppingCart()"></nb-action>
        <nb-action icon="log-in" (click)="login()"></nb-action>
      </nb-actions>
    </ng-container>
  </nb-layout-header>
  <nb-sidebar *ngIf="isInDashboard()">
    <nb-menu [items]="adminMenu"></nb-menu>
  </nb-sidebar>
  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
  <nb-layout-footer fixed></nb-layout-footer>
</nb-layout>
