<nb-card [accent]="error.collection ? 'danger' : (success.collection ? 'success' : 'info') ">
    <nb-card-header>Edit Collection</nb-card-header>
    <nb-card-body>
        <nb-alert *ngIf="error.collection" status="danger">Error. An error occured!</nb-alert>
        <nb-alert *ngIf="success.collection" status="success">Success. Collection has been edited!</nb-alert>
        <form [formGroup]="forms.collection" (ngSubmit)="send()">
            <div [ngClass]="{'input-field': true}">
                <p class="error" *ngIf="isInvalid('collection', 'collection')">{{displayErrorMessage('collection', 'collection')}}</p>
                <input [status]="isInvalid('collection', 'collection') ? 'danger' : 'basic'" type="text" nbInput formControlName="collection" placeholder="collection"><span class="required">*</span>
            </div>
            <input type="submit" nbButton>
        </form>
    </nb-card-body>
</nb-card>