.admin{
    ::ng-deep {
        table {
            width :100%; 
            border-collapse: collapse;
        }
        
        th {
            padding: 1rem;
            border-bottom: 0.2rem solid rgba(0, 0, 0, 0.5)
        }
        
        td {
            padding: 0.5rem 1rem;
        }
        
        tr:nth-child(odd) td {
            background-color: rgba(0, 0, 0, 0.1);
        }

        .p-button {
            cursor: pointer
        }
        
        .input-field {
            margin: 1rem 0;
        }

        .error {
            ::ng-deep {
                input, select {
                    color: red;
                    background-color: rgba(255, 0, 0, 0.2);
                    border-color: red;
                }
            }
        }

        .required {
            position: relative;
            top:-0.8rem;
            left: 0.5rem;
            color: rgba(255, 0, 0, 0.8);
            font-size: 0.8rem;
        }

        .error {
            color: rgba(255, 0, 0, 0.8) !important;
        }
    }
}