.financial-image {
    max-width: 300px;
    width: 100%;

    img { width: 50% }
}

table { 
    width: 100%;
    border-collapse: collapse;
}

td {
    border: 1px solid rgba(150, 150, 150, 1);
    padding: 1rem;
}

td:first-child {
    width: 30px;
    text-align: center;
}

td:nth-child(2) {
    width: 25%;
    padding: 0.5rem;
}

h2 { color: white; font-size: 1.2rem; }