<nb-card status="info">
    <nb-card-header><h2>Choose your payment method</h2></nb-card-header>
    <nb-card-body>
        <form class="financial" [formGroup]="form">
            <ng-container *ngIf="financials && financials.length">
                <table>
                    <tbody>
                        <tr *ngFor="let financial of financials">
                            <td><input type="radio" formControlName="financial" [value]="financial.id"></td>
                            <td><div class="financial-image"><img [src]="url + financial.image"></div></td>
                            <td><p [innerHTML]="format(financial?.description)"></p></td>
                        </tr>
                    </tbody>
                </table>
            </ng-container>
        </form>
    </nb-card-body>
</nb-card>