<nb-card [accent]="error.book ? 'danger' : (success.book ? 'success' : 'info') ">
    <nb-card-header>Edit Book</nb-card-header>
    <nb-card-body>
        <nb-alert *ngIf="error.book" status="danger">Error. An error occured!</nb-alert>
        <nb-alert *ngIf="success.book" status="success">Success. Book has been edited!</nb-alert>
        <form [formGroup]="forms.book" (ngSubmit)="send()">
            <div [ngClass]="{'input-field': true}">
                <p class="error" *ngIf="isInvalid('title', 'book')">{{displayErrorMessage('title', 'book')}}</p>
                <input [status]="isInvalid('title', 'book') ? 'danger' : 'basic'" type="text" nbInput formControlName="title" placeholder="title"><span class="required">*</span>
            </div>

            <p *ngIf="!show.author" [ngClass]="{'p-button': true}" (click)="showAddAuthor(!show.author)">Add an author or select one in the list below.</p>
            <p *ngIf="show.author" [ngClass]="{'p-button': true}" (click)="showAddAuthor(!show.author)">Hide author form</p>

            <app-author-add *ngIf="show.author" (add)="sendAuthor($event)"></app-author-add>

            <div [ngClass]="{'input-field': true}">
                <p class="error" *ngIf="isInvalid('authorId', 'book', true)">{{displayErrorMessage('authorId', 'book')}}</p>
                <input
                    [status]="isInvalid('authorId', 'book', true) ? 'danger' : 'basic'"
                    formControlName="authorId"
                    nbInput
                    type="text"
                    placeholder="author"
                    [nbAutocomplete]="autoControl" #authorIdField /><span class="required">*</span>

                <nb-autocomplete #autoControl>
                    <nb-option *ngFor="let author of filteredOptions$ | async" [value]="formatAuthor(author)">
                        {{ formatAuthor(author) }}
                    </nb-option>
                </nb-autocomplete>
            </div>
            <input type="submit" nbButton>
        </form>
    </nb-card-body>
</nb-card>