<nb-card [accent]="error.editor ? 'danger' : (success.editor ? 'success' : 'info') ">
    <nb-card-header>Add Editor</nb-card-header>
    <nb-card-body>
        <nb-alert *ngIf="error.editor" status="danger">Error. An error occured!</nb-alert>
        <nb-alert *ngIf="success.editor" status="success">Success. Editor has been created!</nb-alert>
        <form [formGroup]="forms.editor" (ngSubmit)="send()">
            <div [ngClass]="{'input-field': true}">
                <p class="error" *ngIf="isInvalid('editor', 'editor')">{{displayErrorMessage('editor', 'editor')}}</p>
                <input [status]="isInvalid('editor', 'editor') ? 'danger' : 'basic'" type="text" nbInput formControlName="editor" placeholder="editor"><span class="required">*</span>
            </div>
            <input type="submit" nbButton>
        </form>
    </nb-card-body>
</nb-card>