<nb-card [accent]="error.author ? 'danger' : (success.author ? 'success' : 'info') ">
    <nb-card-header>Add Author</nb-card-header>
    <nb-card-body>
        <nb-alert *ngIf="error.author" status="danger">Error. An error occured!</nb-alert>
        <nb-alert *ngIf="success.author" status="success">Success. Author has been created!</nb-alert>
        <form [formGroup]="forms.author" (ngSubmit)="send()">
            <div [ngClass]="{'input-field': true}">
                <p class="error" *ngIf="isInvalid('firstName', 'author')">{{displayErrorMessage('firstName', 'author')}}</p>
                <input [status]="isInvalid('firstName', 'author') ? 'danger' : 'basic'" type="text" nbInput formControlName="firstName" placeholder="firstName"><span class="required">*</span>
            </div>
            <div [ngClass]="{'input-field': true}">
                <p class="error" *ngIf="isInvalid('lastName', 'author')">{{displayErrorMessage('lastName', 'author')}}</p>
                <input [status]="isInvalid('lastName', 'author') ? 'danger' : 'basic'" type="text" nbInput formControlName="lastName" placeholder="lastName"><span class="required">*</span>
            </div>
            <input type="submit" nbButton>
        </form>
    </nb-card-body>
</nb-card>