table {
    margin-top: 2rem;
    width: 100%;
    border-collapse: collapse;

    td, th {
        text-align: center;
        padding: 0.5rem;
        border: 1px solid rgba(150, 150, 150, 1);
    }

    .td-act {
        width: 50px;
    }

    th {
        text-align: center;
    }
    .price { font-size: 2rem; }
    td:first-child {
        padding: 0;
    }

    td[colspan]:first-child {
        padding: 0.5rem;
    }

    img {
        display:block;
        width: 100%;
        min-width: 150px;
        max-width: 200px;
    }

    .price {
        min-width: 200px;
        line-height: 1.5;
    }

    .btn-action {
        display: flex;
        min-width: 200px;
        flex-wrap: nowrap;
        justify-content: space-between;

        &>button {
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: auto;
            height: 2.5rem;
            margin-right: 1rem;
            margin-top: 2rem;
        }
    }
}