<nb-card>
    <nb-card-body>
        <h2>Shopping Cart</h2>
        <ng-container *ngIf="listItems && listItems.length > 0">
            <div class="btn-action">
                <button nbButton status="success" (click)="nextStep()">Command</button>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Title</th>
                        <th>Quantity</th>
                        <th>&nbsp;</th>
                        <th>Price</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listItems">
                        <td>
                            <div class="img-book">
                                <img [src]="url + item.image_path">
                            </div>
                        </td>
                        <td><h4>{{ item.title }}</h4></td>
                        <td><h4>{{ item.quantity }}</h4></td>
                        <td class="td-act">
                            <div class="btn-action">
                                <button status="info" nbButton [disabled]="item.quantity >= item.stock" (click)="addItem(item)">+</button>
                                <button status="info" nbButton [disabled]="item.quantity < 1" (click)="removeItem(item)">-</button>
                            </div>
                        </td>
                        <td class="price">{{ (item.price * item.quantity) | euro }} <ng-container *ngIf="item.quantity > 1">({{item.price | euro}} * {{item.quantity}})</ng-container></td>
                        <td><button nbButton ghost status="primary" (click)="removeFromShopCart(item)"><nb-icon icon="close"></nb-icon></button></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4"><h5>Total TTC</h5></td>
                        <td colspan="2" class="price"><span>{{ total | euro }}</span></td>
                    </tr>
                </tfoot>

            </table>
        </ng-container>    
        
    </nb-card-body>
</nb-card>