.inputFile {
    display: none;
}

.image-canvas {
    margin: 1rem auto;
    border: 2px solid rgba(0, 0, 0, 0.5);
    width: 50%;
    min-width: 150px;
    max-width: 500px;

    &>img {
        display: block;
        line-height: 0;
        width: 100%;
    }
}