<nb-card accent="danger">
    <nb-card-header>{{title}}</nb-card-header>
    <nb-card-body><p>{{message}}</p>
        <div>
            <button status="success" ghost nbButton (click)="confirm()">Yes</button>
            <button status="danger" nbButton (click)="close()">No</button>
        </div>
    
    </nb-card-body>
</nb-card>