.input-field {
    margin: 1rem 0;
}

.error {
    ::ng-deep {
        input, select {
            color: red;
            background-color: rgba(255, 0, 0, 0.2);
            border-color: red;
        }
    }
}

.required {
    position: relative;
    top:-0.8rem;
    left: 0.5rem;
    color: rgba(255, 0, 0, 0.8);
    font-size: 0.8rem;
}

.error {
    color: rgba(255, 0, 0, 0.8);
}