<nb-card>
    <nb-card-body>
        <nb-menu [items]="menu"></nb-menu>
    </nb-card-body>
</nb-card>
<nb-card *ngIf="users && users.length > 0">
    <nb-card-body>
        <table>
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th *ngFor="let col of columns">{{col | titlecase | clean}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>
                        <a [routerLink]="['/admin/user/edit', user.id]"><nb-icon icon="edit-outline"></nb-icon></a>&nbsp;
                        <a (click)="delete(user)"><nb-icon icon="trash-outline"></nb-icon></a>
                    </td>
                    <td *ngFor="let col of columns">{{ col != 'roles' ? user[col] || '-' : user[col] | list }}</td>
                </tr>
            </tbody>
        </table>
    </nb-card-body>
  </nb-card>