<nb-card [accent]="error.edition ? 'danger' : (success.edition ? 'success' : 'info')">
    <nb-card-header>Add Edition</nb-card-header>
    <nb-card-body>
        <nb-alert *ngIf="error.edition" status="danger">Error. An error occured!</nb-alert>
        <nb-alert *ngIf="success.edition" status="success">Success. Edition has been created!</nb-alert>
        <form [formGroup]="forms.edition" (ngSubmit)="send()">
            
            <p *ngIf="!show.book" [ngClass]="{'p-button': true}" (click)="showAddBook(!show.book)">Add a book or select one in the list below.</p>
            <p *ngIf="show.book" [ngClass]="{'p-button': true}" (click)="showAddBook(!show.book)">Hide book form</p>

            <app-book-add *ngIf="show.book" (add)="sendBook($event)"></app-book-add>

            <div [ngClass]="{'input-field': true}">
                <p class="error" *ngIf="isInvalid('bookId', 'edition', true)">{{displayErrorMessage('bookId', 'edition')}}</p>
                <input
                    [status]="isInvalid('bookId', 'edition', true) ? 'danger' : 'basic'"
                    formControlName="bookId"
                    nbInput
                    type="text"
                    placeholder="book"
                    [nbAutocomplete]="autoControlBook" /><span class="required">*</span>

                <nb-autocomplete #autoControlBook>
                    <nb-option *ngFor="let book of options$.book | async" [value]="formatBook(book)">
                        {{ formatBook(book) }}
                    </nb-option>
                </nb-autocomplete>
            </div>

            <p *ngIf="!show.editor" [ngClass]="{'p-button': true}" (click)="showAddEditor(!show.editor)">Add an editor or select one in the list below.</p>
            <p *ngIf="show.editor" [ngClass]="{'p-button': true}" (click)="showAddEditor(!show.editor)">Hide editor form</p>

            <app-editor-add *ngIf="show.editor" (add)="sendEditor($event)"></app-editor-add>

            <div [ngClass]="{'input-field': true}">
                <p class="error" *ngIf="isInvalid('editorId', 'edition', true)">{{displayErrorMessage('editorId', 'edition')}}</p>
                <input
                    [status]="isInvalid('editorId', 'edition', true) ? 'danger' : 'basic'"
                    formControlName="editorId"
                    nbInput
                    type="text"
                    placeholder="editor"
                    [nbAutocomplete]="autoControlEditor" /><span class="required">*</span>

                <nb-autocomplete #autoControlEditor>
                    <nb-option *ngFor="let editor of options$.editor | async" [value]="formatEditor(editor)">
                        {{ formatEditor(editor) }}
                    </nb-option>
                </nb-autocomplete>
            </div>
            
            <div [ngClass]="{'input-field': true}">
                <p class="error" *ngIf="isInvalid('price', 'edition')">{{displayErrorMessage('price', 'edition')}}</p>
                <input [status]="isInvalid('price', 'edition') ? 'danger' : 'basic'" type="number" step="any" nbInput formControlName="price" placeholder="price">&nbsp;€<span class="required">*</span>
            </div>
            <div [ngClass]="{'input-field': true}">
                <p class="error" *ngIf="isInvalid('description', 'edition')">{{displayErrorMessage('description', 'edition')}}</p>
                <textarea fullWidth [status]="isInvalid('description', 'edition') ? 'danger' : 'basic'" nbInput formControlName="description" placeholder="description"></textarea>
            </div>
            <div [ngClass]="{'input-field': true}">
                <p class="error" *ngIf="isInvalid('stock', 'edition')">{{displayErrorMessage('stock', 'edition')}}</p>
                <input [status]="isInvalid('stock', 'edition') ? 'danger' : 'basic'" type="number" step="1" nbInput formControlName="stock" placeholder="stock"><span class="required">*</span>
            </div>
            <div [ngClass]="{'input-field': true}">
                <p class="error" *ngIf="isInvalid('releaseAt', 'edition')">{{displayErrorMessage('releaseAt', 'edition')}}</p>
                <input [status]="isInvalid('releaseAt', 'edition') ? 'danger' : 'basic'" nbInput formControlName="releaseAt" placeholder="release At" [nbDatepicker]="datepicker" #releaseAtField><span class="required">*</span>
                <nb-datepicker #datepicker format="yyyy-MM-dd"></nb-datepicker>
            </div>

            <p *ngIf="!show.collection" [ngClass]="{'p-button': true}" (click)="showAddCollection(!show.collection)">Add a collection or select one in the list below.</p>
            <p *ngIf="show.collection" [ngClass]="{'p-button': true}" (click)="showAddCollection(!show.collection)">Hide collection form</p>

            <app-collection-add *ngIf="show.collection" (add)="sendCollection($event)"></app-collection-add>

            <div [ngClass]="{'input-field': true}">
                <p class="error" *ngIf="isInvalid('collectionId', 'edition', true)">{{displayErrorMessage('collectionId', 'edition')}}</p>
                <input
                    [status]="isInvalid('collectionId', 'edition', true) ? 'danger' : 'basic'"
                    formControlName="collectionId"
                    nbInput
                    type="text"
                    placeholder="collection"
                    [nbAutocomplete]="autoControlCollection" />

                <nb-autocomplete #autoControlCollection>
                    <nb-option *ngFor="let collection of options$.collection | async" [value]="formatCollection(collection)">
                        {{ formatCollection(collection) }}
                    </nb-option>
                </nb-autocomplete>
            </div>

            <div [ngClass]="{'input-field': true}">
                <p class="error" *ngIf="isInvalid('formatId', 'edition')">{{displayErrorMessage('formatId', 'edition')}}</p>
                <nb-select [status]="isInvalid('formatId', 'edition') ? 'danger' : 'basic'" placeholder="format" formControlName="formatId">
                    <nb-option value="">---</nb-option>
                    <nb-option *ngFor="let format of formats" value="{{format.id}}">{{format.format}}</nb-option>
                </nb-select><span class="required">*</span>
            </div>
            
            <span>(jpg, png, bmp) (max 500ko)</span>
            <div [ngClass]="{'input-field': true}">
                <input
                    [ngClass]="{'inputFile': true}"
                    type="file"
                    (change)="this.onFileChanged($event)"
                    accept="image/*"
                    formControlName="image"
                    #fileInput>
                
                <button (click)="$event.preventDefault(); fileInput.click()" nbButton>Select File</button>&nbsp;
                <input [status]="isInvalid('image', 'edition', true) ? 'danger' : 'basic'" (click)="fileInput.click()" nbInput type="text" readonly #fileText>
            </div>
            
            <input type="submit" nbButton>
        </form>
    </nb-card-body>
</nb-card>