<nb-card [accent]="error.format ? 'danger' : (success.format ? 'success' : 'info') ">
    <nb-card-header>Edit Format</nb-card-header>
    <nb-card-body>
        <nb-alert *ngIf="error.format" status="danger">Error. An error occured!</nb-alert>
        <nb-alert *ngIf="success.format" status="success">Success. Format has been edited!</nb-alert>
        <form [formGroup]="forms.format" (ngSubmit)="send()">
            <div [ngClass]="{'input-field': true}">
                <p class="error" *ngIf="isInvalid('format', 'format')">{{displayErrorMessage('format', 'format')}}</p>
                <input [status]="isInvalid('format', 'format') ? 'danger' : 'basic'" type="text" nbInput formControlName="format" placeholder="format"><span class="required">*</span>
            </div>
            <input type="submit" nbButton>
        </form>
    </nb-card-body>
</nb-card>