<nb-card>
    <nb-card-header>
        <h2>Login</h2>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="authForm" (ngSubmit)="login()">
            <div class="input-field">
                <input type="text" nbInput placeholder="username" formControlName="username">
            </div>
            <div class="input-field">
                <input type="password" nbInput placeholder="password" formControlName="password">
            </div>
            <div class="input-field">
                <input type="submit" nbButton value="Login" [disabled]="!authForm.valid">
            </div>
        </form>
</nb-card-body>
</nb-card>