    <h4>Validation</h4>
    
    <table *ngIf="listItems && listItems.length">
        <thead>
            <tr>
                <th>Title</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of listItems">
                <td><p>{{ item.title }}</p></td>
                <td><p>{{ item.quantity }}</p></td>
                <td class="price">{{ (item.price * item.quantity) | euro }} <ng-container *ngIf="item.quantity > 1">({{item.price | euro}} * {{item.quantity}})</ng-container></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2"><h5>Total TTC</h5></td>
                <td><span>{{ total | euro }}</span></td>
            </tr>
        </tfoot>
    </table>
    <ng-container *ngIf="courier">
        <h6>Shipping method</h6>
        <table>
            <tbody>
                <tr>
                    <td><div class="courier-image"><img [src]="url + courier.image"></div></td>
                    <td><p [innerHTML]="format(courier?.description)"></p></td>
                </tr>
            </tbody>
        </table>
    </ng-container>
    <ng-container *ngIf="financial">
        <h6>Payment method</h6>
        <table>
            <tbody>
                <tr>
                    <td><div class="financial-image"><img [src]="url + financial.image"></div></td>
                    <td><p [innerHTML]="format(financial?.description)"></p></td>
                </tr>
            </tbody>
        </table>
    </ng-container>
    <h6>Delivery address</h6>
    <table *ngIf="address">
        <thead>
            <tr>
                <th>Street</th>
                <th>PostCode</th>
                <th>City</th>
                <th>Country</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{address.street}}</td>
                <td>{{address.post_code}}</td>
                <td>{{address.city}}</td>
                <td>{{address.country}}</td>
            </tr>
        </tbody>
    </table>