table { 
    margin: 2rem 0;
    width: 100%;
    border-collapse: collapse;
}

td, th {
    border: 1px solid rgba(150, 150, 150, 1);
    padding: 1rem;
}

.courier-image, .financial-image {
    max-width: 150px;
    width: 100%;

    img { width: 50% }
}

table {
    width: 100%;
}

td:first-child {
    width: 25%;
    padding: 0.5rem;
}

.error { color: red; }