:host{
    & > * {
        margin-top:2rem;
    }
}

.books {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    .book {
        display: flex;
        justify-content: space-between;

        margin: 2rem;
       
        h4 {
            margin: 0;
            padding: 0;
            margin-bottom: 1rem;
            line-height: 1.3;
            font-size: 1rem;
        }

        & > a {

            width: 150px;
            height: 220px;
            overflow: hidden;

            img {
                width: 100%;
            }
        } 

        & > div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            width: 150px;
            margin-left: 3rem;

            p {
                margin: 0;

                &.price {
                    margin-top: 1rem;
                    font-size: 2rem;
                    font-weight: bold;
                }
                
            }
        } 

        .rupture {
            padding: 0.2rem 0.5rem;
            border: 1px solid red;
            background-color: rgab(255, 0, 0, 0.5);
            color: red;
            font-size: 0.8rem;
            text-align: center;
        }
    }
}