<nb-alert *ngIf="errorLoading" status="danger">Problem when loading books</nb-alert>
<nb-card status="info" *ngIf="page.count">
    <nb-card-header>Catalogue ({{page.per_page * (page.page - 1)}} - {{(page.per_page * (page.page - 1)) + page.count}})</nb-card-header>
    <nb-card-body>
        <h5 *ngIf="search">Results for "{{searchValue}}" - {{page.total}} book(s) found</h5>
        <div class="books">
            <div class="book" *ngFor="let book of page.data">
                <a [routerLink]="['/catalog', book.id]">
                    <img *ngIf="book.image_path" [src]="url + book.image_path">
                </a>
                <div>
                    <div>
                        <h4>{{book.title}}</h4>
                        <p>{{book.author}}</p>
                        <p [ngClass]="'price'">{{book.price | euro}}</p>
                    </div>
                    <ng-container *ngIf="book.stock > 0">
                        <a nbButton size="small" status="danger" (click)="addToShopCart(book)">Ajouter Au panier</a>
                    </ng-container>
                    <ng-container *ngIf="book.stock < 1">
                        <p class="rupture">Rupture de stock</p>
                    </ng-container>
                </div>
            </div>
        </div>
        <app-paginator [page]="page" (no)="changePage($event)"></app-paginator>
    </nb-card-body>
</nb-card>
<h5 *ngIf="page.count < 1 && search">No results for "{{searchValue}}"</h5>
