<nb-card>
    <nb-card-body>
      <nb-stepper orientation="horizontal" disableStepNavigation="true">
        <nb-step label="Shipping">
          <app-select-courier [couriers]="couriers"></app-select-courier>
          <button nbButton disabled>Back</button>&nbsp;&nbsp;
          <button nbButton nbStepperNext [disabled]="courier && !courier.form.valid">Next</button>
        </nb-step>
        <nb-step label="Payment">
          <app-select-financial [financials]="financials"></app-select-financial>
          <button nbButton nbStepperPrevious>Back</button>&nbsp;&nbsp;
          <button nbButton nbStepperNext [disabled]="financial && !financial?.form.valid" (click)="prepareData()">Next</button>
        </nb-step>
        <nb-step label="Validation">
          <app-command-validation [address]="address" [listItems]="listItems" [total]="total"></app-command-validation>
          <button nbButton nbStepperPrevious>Back</button>&nbsp;&nbsp;
          <button nbButton [disabled]="!(financial?.form.valid && financial?.form.valid)" (click)="createCommand()">Command</button>
        </nb-step>
      </nb-stepper>
    </nb-card-body>
  </nb-card>