<nb-card>
    <nb-card-body>
        <nb-menu [items]="menu"></nb-menu>
    </nb-card-body>
</nb-card>
<nb-card *ngIf="editors && editors.length > 0">
    <nb-card-body>
        <table>
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th *ngFor="let col of columns">{{col | titlecase | clean}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let editor of editors">
                    <td>
                        <a [routerLink]="['/admin/editor/edit', editor.id]"><nb-icon icon="edit-outline"></nb-icon></a>&nbsp;
                        <a (click)="delete(editor)"><nb-icon icon="trash-outline"></nb-icon></a>
                    </td>
                    <td *ngFor="let col of columns">{{editor[col] || '-'}}</td>
                </tr>
            </tbody>
        </table>
    </nb-card-body>
  </nb-card>