 <nb-card status="info">
    <nb-card-header><h2>Choose your shipping method</h2></nb-card-header>
    <nb-card-body>
        <form class="courier" [formGroup]="form">
            <ng-container *ngIf="couriers && couriers.length">
                <table>
                    <tbody>
                        <tr *ngFor="let courier of couriers">
                            <td><input type="radio" formControlName="courier" [value]="courier.id"></td>
                            <td><div class="courier-image"><img [src]="url + courier.image"></div></td>
                            <td><p [innerHTML]="format(courier?.description)"></p></td>
                        </tr>
                    </tbody>
                </table>
            </ng-container>
        </form>
    </nb-card-body>
</nb-card>
