:host{

    h2 { color: white; }
    
    & > * {
        margin-top:2rem;
    }

    & > div {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        &>*:first-child {
            width: 60rem;
            margin-right: 10rem;
        }
        
        &>*:last-child {
            height: 30rem; 
            & > * {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-content: space-between;
            }
            
            & .price {
                margin-top: 1rem;
                text-align: center;
                font-size: 4rem;
                font-weight: normal;
                margin-top: 3rem;
            }

            a {
                margin-bottom: 3rem;
            }

            div.hr {
                background-color: rgba(0, 0, 0, 0.2);
                width: 100%;
                height: 0.5rem;
                margin-bottom: 5rem;
            }
        }

        .book {
            display: flex;
            justify-content: flex-start;
    
            padding: 2rem;
           
            h4 {
                margin: 0;
                padding: 0;
                margin-bottom: 1rem;
                line-height: 1.3;
                font-size: 1rem;
            }
    
            & > div:first-child img {
                width: 250px;
                flex-grow: 0;

                & > img {
                    width: 100%;
                }
            } 
    
            & > div:last-child {
                margin-left: 2rem;
                flex-grow: 1;
            } 

        }

        .rupture {
            padding: 0.2rem 0.5rem;
            border: 1px solid red;
            background-color: rgab(255, 0, 0, 0.5);
            color: red;
            font-size: 0.8rem;
            text-align: center;
        }
    }
    
}
