<div>
    <nb-card *ngIf="book" status="info">
        <nb-card-header><h2>{{book.title}}</h2></nb-card-header>
        <nb-card-body>
            <div class="book">
                <div><img *ngIf="book.image_path" [src]="url + book.image_path"></div>
                <div>
                    <div>
                        <h3>{{book.author}}</h3>
                        <p [innerHTML]="format(book?.description)"></p>
                    </div>
                </div>
            </div>
        </nb-card-body>
    </nb-card>
    <nb-card *ngIf="book" status="info">
        <nb-card-body>
            <p [ngClass]="'price'">{{book.price | euro}}</p>
            <div [ngClass]="'hr'"></div>
            <ng-container *ngIf="book.stock > 0">
                <a nbButton size="large" status="danger" (click)="addToShopCart(book)">Ajouter Au panier</a>
            </ng-container>
            <ng-container *ngIf="book.stock < 1">
                <p class="rupture">Rupture de stock</p>
            </ng-container>
        </nb-card-body>
    </nb-card>
</div>

